.main__contacto {
    background-color: #141414;
    width: 100vw;
}
.contacto__detalle {
    padding: 2rem 0.5rem 1rem;
}

.contacto {
    background-image: url(../img/footer.png);
    background-size: cover;
    padding-top: 15rem;
    background-position: center;
    position: relative;
}

.contacto__titulo {
    font-family: Anton, cursive, italic;
    color: #F9EF23;
    font-size: 2.75rem;
    text-transform: uppercase;
    position: absolute;
    bottom: 5rem;
    left: 1rem;
    right: 3rem;
}

.contacto__institucional {
    background-color: #F9EF23;
    padding: 0.75rem 0.75rem 0rem 0.75rem;
}

.contacto__institucional__dir__link {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: black;
    font-family: Hanken Grotesk;
    padding-bottom: 1rem;
    gap: 0.5rem;
}

.contacto__institucional__dir__link span {
    font-family: Anton;
    font-size: 1.25rem;
    font-weight: 550;
    text-transform: uppercase;
}

@media screen  and (min-width:992px) { 
    .contacto { 
        padding-top: 25rem;
    }

    .contacto__titulo { 
        top: 50%;
        bottom: 50%;
        left: 2rem;
        right: 40rem;
    }

    .contacto__detalle {
        padding: 3rem 0 0 0;
    }

    .contacto__institucional__dir__links {
        display: flex;
        justify-content: space-between;
        padding: 3rem;
    }
}